.card__trash {
  position: absolute;
  right: 20px;
  top: 20px;
  background-image: url(../../../images/trash_button.svg);
  max-width: 18px;
  width: 100%;
  height: 19px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
