.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
  gap: 20px 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 1050px) {
    .elements {
        grid-template-columns: repeat(auto-fit, minmax(371px, 371px));
        gap: 15px 10px;
      }
}
@media screen and (max-width: 790px) {
    .elements {
        grid-template-columns: repeat(auto-fit, minmax(496px, 1fr));
        gap: 10px;
      }
}
@media screen and (max-width: 530px) {
    .elements {
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
        gap: 20px;
      }
}
