.footer {
  max-width: 880px;
}
@media screen and (max-width: 1050px) {
    .footer {
        max-width: 752px;
      }
}
@media screen and (max-width: 790px) {
    .footer {
        max-width: 496px;
      }
}
@media screen and (max-width: 530px) {
    .footer {
        max-width: 282px;
      }
}