.popup__close-btn {
  background-image: url(../../../images/close_Icon.svg);
  width: 32px;
  height: 32px;
  margin-left: calc(100% + 8px);
  margin-bottom: 8px;
  padding: 0;
  border: 0;
  background-size: cover;
}
@media screen and (max-width: 790px) {
    .popup__close-btn {
        margin-left: auto;
      }
}
@media screen and (max-width: 530px) {
    .popup__close-btn {
        width: 20px;
        height: 20px;
        margin-bottom: 16px;
      }
}
